form.FormBase{
    display: table;
}

label,input{
    display: table-cell;
    margin-bottom: 10px;
}
label{
    padding-right: 10px;
}

div.escreva{
    display: table-row;
}

div.Formu{}

div.basemais{
    width: 45px;
    height: 45px;
    background-color: #173177;
    border: 0.5px solid white;
    border-radius: 10px;
}